<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true">
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="CONFIG_PATH" value=""/>
        <env name="SUBSIDIARY_ID" value="17"/>
        <env name="DEPARTMENT_ID" value="3"/>
        <env name="LOCATION_ID" value="2"/>
        <env name="CONFIG_PATH" value="./config.json"/>
        <env name="CLASSIFICATION_ID" value="3"/>
        <env name="ITEM_ID" value="8545"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
